@{
    ViewBag.Title = "Event Creating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/css/CreateEvent")
}

@section BodyScripts {
    @Scripts.Render("~/bundles/CreateEvent")
}

<h2>CreateEvent</h2>

