@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    @Styles.Render("~/bundles/css/Event")
}

@section BodyScripts {
    @Scripts.Render("~/bundles/Event")
}

<h2>Details</h2>

