<script type="text/html" id="eventListItemTemplate">
    <div class="event-list-item">
        <img class="event-list-item__image" data-bind="attr: { 'src': logoUrl }" />

        <div class="event-list-item__controls">
            <a class="event-list-item__controls--play event-list-item__controls--button" href="#" data-bind="click: play">
                <span class="glyphicon glyphicon-play"></span>
            </a>
            <a class="event-list-item__controls--pause event-list-item__controls--button" href="#" data-bind="click: pause">
                <span class="glyphicon glyphicon-pause"></span>
            </a>
            <a class="event-list-item__controls--open event-list-item__controls--button" href="#" data-bind="click: open">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
        </div>
    </div>
</script>
